<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamsports.sportsnewspager.sportsnewspager" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".BkBallDetailActivity"
            android:label="@string/title_activity_bk_ball_detail" >
        </activity>
        <activity
            android:name=".FootBallDetailActivity"
            android:label="@string/title_activity_foot_ball_detail" >
        </activity>
        <activity
            android:name=".BallTeamManageActivity"
            android:label="@string/title_activity_ball_manage" >
        </activity>
        <activity
            android:name=".BallTeamContentActivity"
            android:label="@string/title_activity_ball_team_content" >
        </activity>
        <activity
            android:name="com.teamsports.sportsnewspager.column.MoreColumn"
            android:label="@string/title_activity_more_column" >
        </activity>
        <activity
            android:name=".WebActivity"
            android:label="activity_web" >
        </activity>
        <activity
            android:name=".DetaileActivity"
            android:label="@string/title_activity_detaile" >
        </activity>
        <activity
            android:name="com.teamsports.sportsnewspager.column.ColumnDetail"
            android:label="@string/title_activity_column_detail" >
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
    </application>

</manifest>
